displa* {
  box-sizing: border-box;
}

body {
  min-width: 1030px;
  margin: 0;
  height: 100%;
}

header {
  width: 100%;
  background-color: rgb(247, 244, 244);
}

#head {
  display: flex;
  justify-content: flex-start;
  height: 70px;
  padding: 5px 0px;
}

.head__left {
  margin: 0px 0px 0px 70px;
  background-color: black;
  color: aliceblue;
  padding: 6px;
  border-radius: 10px;
}

.head__left__text {
  font-size: 25px;
}

.head__left__eat {
  font-size: 14px;
}

.head__right {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 0px 200px;
}

#head__right__tohu {
  font-size: 20px;
  cursor: pointer;
  border: none;  
  outline: none; 
  background: transparent; 
  display: block;
  margin:  0px 0px 20px 0px;
  
}

.head__right__center {
  font-size: 20px;
  padding: 0px 45px 0px 45px;
}

.head__right__menu {
  font-size: 20px;
  cursor: pointer;
  border: none;  
  outline: none; 
  background: transparent; 
  display: block;
  margin:  0px 0px 20px 30px;
  text-decoration: none;
  color: black;
}

#head__right__takeout {
  font-size: 20px;
  cursor: pointer;
  border: none;  
  outline: none; 
  background: transparent; 
  display: block;
  margin:  0px 0px 20px 30px;
  text-decoration: none;
  color: black;
}

.head__right__icon {
  
  margin-left: 300px;
  padding-top: 20px;
  
}

.fas {
  margin-right: 40px;
}

.fab {
  margin-right: 40px;
}

.twitter-color{
  color: rgb(56, 204, 241);
}

.facebook-color {
  color: rgb(21, 93, 226);
}

.main {
  height: 700px;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  position: relative;         
}

#main__slide{
  position:relative;
}

#slide_img{
position:absolute;
left:0;
top:0;

}

#content {
 background-image: url("img5.jpeg");
  color: aliceblue;
  text-align: center;
  height: 700px;
  background-size: cover;
}

.content__top {
  font-size: 38px;
  padding-top:40px ;
}

.content__bottom {
  padding-top:10px ;
  font-size: 38px;
}

.content__details {
  font-size: 26px;
  border: 1px solid;
  width: 90px;
  text-align: center;
  border-radius: 5px;
  margin-left: 300px;
  cursor: pointer;
  transition: all 0.8s;
  transition: all 0.3s ease-out 0s;
}

.content__details :hover {
  background-color:aliceblue ;
  color: rgb(245, 176, 72);
}

#product {
  margin: 60px 0px;
}

.product__content {
  margin-left: 80px;
}

.product__content__text {
  text-align: center;
  color: rgb(78, 72, 72);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.product__content__image {
  width: 30%;
  display: inline-block;
  margin: 0px 12px;
  background-color: rgb(219, 208, 208);
  cursor: pointer;
}

.product__content__image__box {
  width: 200px;
  height: 260px;
 
}

.product__image {
  width: 408px;
  height: 260px;
  display: inline-block;
}

footer {
  background-color: rgb(247, 241, 241);
  color: rgb(61, 60, 60);
  width: 100%;
  position: relative;
  /* position: absolute;
  bottom: 0; */
}

#foot {
  display: flex;
  justify-content: space-around;
}

.foot__left {
  margin: 12px 0px;
  font-size: 20px;
}

.foot__left__name {
  margin: 10px 0px;
  font-size: 30px;
  color: aliceblue;
  background-color: black;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  
}

.foot__left__post {
  margin: 60px 0px 0px 0px;

}

.foot__left__address {
  margin: 10px 0px;
}

.foot__right {
  margin: 13px 0px;
  font-size: 20px;
}

.foot__right__tell {
  margin: 10px 0px;
}

.foot__right__holiday {
  margin: 10px 0px;
}

.foot__right__time {
  margin: 10px 0px;
}

.upper {
  position:fixed;
  right:50px;
  bottom:50px;
  transition:1s;
  opacity:0.5;
  text-decoration: none;
  
}

.upper:hover {
  opacity:1;
}

.upper-icon {
  color: rgb(90, 87, 87);
}